body{
    margin: 0;
    padding: 0;
}
#bg{
    position: absolute;
    width: 100vw;
    height: 100dvh;
    background-color: rgb(67, 67, 67);
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: fit-content;
    position: relative;
    transform: translateY(15%);
}


nav{
    border-right: 2px solid whitesmoke;
    height: 80vh;
    width: 20%;
    min-width: 80px;
    border-radius: 0 1rem 1rem 0 ;
}
.user-img-name{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.user-img{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-left: 30px;
}
.user-name{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0 0 20px;
    color: aliceblue;
}
.container-button{
   margin: 100px 0 0 25px;
}
.folder{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    column-gap: 20px;
    font-size: 23px;
    font-weight: bolder;
}
.folder::before{
    content: "";
    position: absolute;
    right: -1px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 1px;
    transition: .3s ease;
    z-index: -2;
}
.folder:hover:before{
    width: 100%;
}

.folder:hover{
    color: rgb(64, 64, 64);
    transition: .5s ease;
}
.folder:hover .icon{
    transition: .5s ease;
    stroke: rgb(64, 64, 64);
}
svg{
    margin-left: 5px;
    color: aliceblue;
    height: 60px;
    width: 60px;
}



main{
    background-color: whitesmoke;
    height: 75vh;
    width: 100%;
    margin: 0 5%;
    overflow: hidden;
}
.folder-created{
    height: 150px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
#folder-list{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    width: auto;
    
}
/* Customize the horizontal scrollbar */
.folder-created::-webkit-scrollbar {
    height: 15px; /* Height of the horizontal scrollbar */
  }
  
  /* Track (background of the scrollbar) */
  .folder-created::-webkit-scrollbar-track {
    
  }
  
  /* Handle (the draggable part of the scrollbar) */
  .folder-created::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  /* Handle on hover */
  .folder-created::-webkit-scrollbar-thumb:hover {
    background: #555; 

  }

  .pop-up{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.622);
    height: 100dvh;
    width: 100vw;
    z-index: 5;
  }
  .inputFolderName{
    height: 200px;
    width: 400px;
    background-color: aliceblue;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
  }

  .inputFolderName{
    text-align: center;
  }
  #folderName{
    font-size: 25px;
    padding: 10px;
    border:1px solid #b3b3b3;
  }

  .input-buttons{
    display: flex;
    column-gap: 40px;
    justify-content: center;
  }
  #cancel, #create{
    margin-top: 15px;
    padding: 10px;
    font-weight: bolder;
    font-size: large;
  }
  #cancel{
    color: #007bff;
    background-color: transparent;
    border: none;
  }
 #create{
    color: #565656c6;
    background-color: transparent;
    border: none;
  }




/* Created from JS element */
#folders{
    height: 100px;
    width: fit-content;
    border: 1px solid gray;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
#folderIcon{
  height: 100%;
  width: 100%;
}
#imgBox{
  height: 100px;
  width: 100px;
}
#folderLabel{
  font-size: 35px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}






@media(max-width: 425px){
    .container{
        flex-direction: column;
        align-items: baseline;
        transform: translateY(0%);
    }
    nav{
        height: 80px;
        width: 100%;
        border-radius: 0;
    }
    main{
        margin: 0;
    }
}
